language: python
sudo: false

addons:
  apt:
    packages:
      - liblensfun-dev

install: 
  - pip install numpy
  - pip install -r requirements.txt

script: python plots.py

deploy:
  provider: pages
  skip_cleanup: true
  local_dir: plots
  github_token: $GITHUB_TOKEN
  on:
    branch: master